<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sqlServerCatalogNameOverwrites" type="System.Configuration.NameValueSectionHandler" />
    <section name="cachedEntities" type="Questify.Builder.Configuration.CacheConfiguration, Questify.Builder.Configuration" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <sqlServerCatalogNameOverwrites>
    <add key="QuestifyBuilder" value="QuestifyBuilder" />
  </sqlServerCatalogNameOverwrites>
  <appSettings>
    <!-- LOCAL -->
    <add key="Main.ConnectionString" value="data source=.;User ID=[YourUserNameHere];Password=[YourPasswordHere];persist security info=False;packet size=4096" />
    <add key="AuthenticationProvider" value="Questify.Builder.Security.TestBuilderDefaultAuthenticationProvider" />
    <add key="AuthenticationDomain" value="citogroep.nl" />
  </appSettings>
  <cachedEntities>
    <cachedEntity type="BankEntity" timeInSeconds="20" sliding="false" />
    <cachedEntity type="BankHierarchy" timeInSeconds="3600" sliding="true" />
    <cachedEntity type="ResourceEntity" timeInSeconds="30" sliding="false" />
    <cachedEntity type="ResourceDataEntity" timeInSeconds="30" sliding="false" maxSizeInKb="50" />
    <cachedEntity type="ItemLayoutTemplateEntity" timeInSeconds="30" sliding="false" />
    <cachedEntity type="CustomPropertyEntityCollection" timeInSeconds="30" sliding="false" />
    <cachedEntity type="TestBuilderPermissionCache" timeInSeconds="3600" sliding="true" />
  </cachedEntities>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    <sessionState mode="Off" />
  </system.web>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="Questify.Builder.Services.TasksService.QbAuthorizationPolicy, Questify.Builder.Services.TasksService" />
            </authorizationPolicies>
          </serviceAuthorization>
          <TransferCultureServiceBehavior />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="TransferCultureServiceBehavior" type="Questify.Builder.Logic.Service.Localization.TransferCultureServiceBehavior, Questify.Builder.Logic.Service" />
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <customBinding>
        <binding name="BinaryCompressionBinding">
          <binaryMessageEncoding compressionFormat="GZip" maxReadPoolSize="2147483647" maxWritePoolSize="2147483647" />
          <httpTransport transferMode="Streamed" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQuestifyBuilderTasksService" bypassProxyOnLocal="true" sendTimeout="00:05:00" receiveTimeout="00:05:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Questify.Builder.Services.TasksService.QuestifyBuilderTasksService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Services.TasksService.IQuestifyBuilderTasksService" />
      </service>
      <service name="Questify.Builder.Services.TasksService.DataService.Services.AspectResourceDtoService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.IAspectResourceDtoRepository" />
      </service>
      <service name="Questify.Builder.Services.TasksService.DataService.Services.BankDtoService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.IBankDtoRepository" />
      </service>
      <service name="Questify.Builder.Services.TasksService.DataService.Services.ControlTemplateResourceDtoService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.IControlTemplateResourceDtoRepository" />
      </service>
      <service name="Questify.Builder.Services.TasksService.DataService.Services.CustomBankPropertyResourceDtoService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.ICustomBankPropertyResourceDtoRepository" />
      </service>
      <service name="Questify.Builder.Services.TasksService.DataService.Services.CustomBankPropertyDtoService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.ICustomBankPropertyDtoRepository" />
      </service>
      <service name="Questify.Builder.Services.TasksService.DataService.Services.DataSourceResourceDtoService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.IDataSourceResourceDtoRepository" />
      </service>
      <service name="Questify.Builder.Services.TasksService.DataService.Services.DataSourceTemplateResourceDtoService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.IDataSourceTemplateResourceDtoRepository" />
      </service>
      <service name="Questify.Builder.Services.TasksService.DataService.Services.DeliveryResourceDtoService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.IDeliveryResourceDtoRepository" />
      </service>
      <service name="Questify.Builder.Services.TasksService.DataService.Services.GenericResourceDtoService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.IGenericResourceDtoRepository" />
      </service>
      <service name="Questify.Builder.Services.TasksService.DataService.Services.ItemResourceDtoService">
        <endpoint address="" binding="customBinding" bindingConfiguration="BinaryCompressionBinding" contract="Questify.Builder.Logic.Service.Interfaces.IItemResourceDtoRepository" />
      </service>
      <service name="Questify.Builder.Services.TasksService.DataService.Services.ItemTemplateResourceDtoService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.IItemlayoutTemplateResourceDtoRepository" />
      </service>
      <service name="Questify.Builder.Services.TasksService.DataService.Services.PluginResourceDtoService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.IPluginResourceDtoRepository" />
      </service>
      <service name="Questify.Builder.Services.TasksService.DataService.Services.TestPackageResourceDtoService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.ITestPackageResourceDtoRepository" />
      </service>
      <service name="Questify.Builder.Services.TasksService.DataService.Services.TestResourceDtoService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.ITestResourceDtoRepository" />
      </service>
      <service name="Questify.Builder.Services.TasksService.DataService.Services.TestTemplateResourceDtoService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.ITestTemplateResourceDtoRepository" />
      </service>
      <!--CacheService-->
      <service name="Questify.Builder.Logic.Service.Cache.CacheDtoService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.ICacheService" />
      </service>
      <!--CacheService-->
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <nlog>
    <targets>
      <target type="EventLog" name="eventlog" source="Questify_TaskService" layout="${message}${newline}${exception:format=ToString}" />
      <target name="harmonizationLog" type="File" layout="${longdate} ${level} ${message}" fileName="${basedir}/${shortdate}.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeTo="eventlog" />
      <logger name="ItemHarmonizationTask" minLevel="Info" writeTo="harmonizationLog" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>