<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="4.6.0" targetFramework="net45" />
  <package id="FluentAssertions" version="5.10.3" targetFramework="net471" />
  <package id="SD.LLBLGen.Pro.ORMSupportClasses" version="5.2.1" targetFramework="net45" />
</packages>