<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sqlServerCatalogNameOverwrites" type="System.Configuration.NameValueSectionHandler" />
    <section name="publicationHandlers" type="Questify.Builder.Configuration.PublicationConfiguration, Questify.Builder.Configuration" />
    <section name="validatorHandlers" type="Questify.Builder.Configuration.PluginConfiguration, Questify.Builder.Configuration" />
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="cachedEntities" type="Questify.Builder.Configuration.CacheConfiguration, Questify.Builder.Configuration" />
    <section name="itemPreviewServices" type="Questify.Builder.Configuration.ItemPreviewServiceConfiguration, Questify.Builder.Configuration" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="Main.ConnectionString" value="data source=.;User ID=[YourUserNameHere];Password=[YourPasswordHere];persist security info=False;packet size=4096" />
    <!-- Indicate that the Publication service is on the same server as the Questify Service (used for faster publish) -->
    <!-- LOCAL -->
    <add key="PublicationParallel" value="true" />
    <add key="QprLocation" value="C:\Repo" />
    <add key="MathMlService" value="http://localhost/Questify.Builder.Services.Math/api/math/render" />
  </appSettings>
  <publicationHandlers>
    <!-- QTI 3.0 -->
    <handler type="Questify.Builder.Plugins.QTI.GenericTestPublicationHandler" requireRestrictedPackagePublicationPermission="False">
    </handler>
    
    <!--PBT-->
    <handler type="Questify.Builder.Plugins.PaperBased.WordPublicationHandler" requireRestrictedPackagePublicationPermission="False">
      <testpreviewers>
        <testpreviewer name="Word" />
      </testpreviewers>
    </handler>
  </publicationHandlers>
  <itemPreviewServices>
  </itemPreviewServices>
  <cachedEntities>
    <cachedEntity type="BankEntity" timeInSeconds="20" sliding="false" />
    <cachedEntity type="BankHierarchy" timeInSeconds="20" sliding="false" />
    <cachedEntity type="ResourceEntity" timeInSeconds="30" sliding="false" />
    <cachedEntity type="ResourceDataEntity" timeInSeconds="30" sliding="false" maxSizeInKb="50" />
    <cachedEntity type="ItemLayoutTemplateEntity" timeInSeconds="30" sliding="false" />
    <cachedEntity type="CustomPropertyEntityCollection" timeInSeconds="30" sliding="false" />
    <cachedEntity type="TestBuilderPermissionCache" timeInSeconds="30" sliding="false" />
  </cachedEntities>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <sessionState mode="Off" />
    <httpRuntime targetFramework="4.7.1" />
  </system.web>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true" />
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="Questify.Builder.Services.PublicationService.QbAuthorizationPolicy, Questify.Builder.Services.PublicationService" />
            </authorizationPolicies>
          </serviceAuthorization>
          <!-- Add an announcement endpoint -->
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint kind="udpAnnouncementEndpoint" />
            </announcementEndpoints>
          </serviceDiscovery>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="endpointBehaviorConfiguration">
          <!-- Add scopes used to identify the service -->
          <endpointDiscovery>
            <scopes>
              <add scope="http://www.example.com/calculator" />
              <add scope="ldap:///ou=engineering,o=examplecom,c=us" />
            </scopes>
          </endpointDiscovery>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="TransferCultureServiceBehavior" type="Questify.Builder.Logic.Service.Localization.TransferCultureServiceBehavior, Questify.Builder.Logic.Service" />
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IItemPreviewService" sendTimeout="00:05:00" receiveTimeout="00:05:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Questify.Builder.Services.PublicationService.ItemPreview.ItemPreviewService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IItemPreviewService" contract="Questify.Builder.Services.PublicationService.ItemPreview.IItemPreviewService" />
        <endpoint name="udpDiscovery" kind="udpDiscoveryEndpoint" endpointConfiguration="adhocDiscoveryEndpointConfiguration" />
      </service>
    </services>
    <standardEndpoints>
      <udpDiscoveryEndpoint>
        <!-- Configure the UDP discovery endpoint -->
        <standardEndpoint name="adhocDiscoveryEndpointConfiguration" discoveryVersion="WSDiscovery11" maxResponseDelay="00:00:00.600" />
      </udpDiscoveryEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="Cito.Tester.ContentModel.AssessmentTestViewType,  Cito.Tester.ContentModel, Culture=neutral, PublicKeyToken=f866693305960f6d" />
        <add type="Cito.Tester.ContentModel.AssessmentItem,  Cito.Tester.ContentModel, Culture=neutral, PublicKeyToken=f866693305960f6d" />
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false" />
    <staticContent>
      <remove fileExtension=".zp" />
      <mimeMap fileExtension=".zp" mimeType="application/x-zip-compressed" />
      <remove fileExtension=".package" />
      <mimeMap fileExtension=".package" mimeType="application/x-zip-compressed" />
      <remove fileExtension=".docx" />
      <mimeMap fileExtension=".docx" mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
    </staticContent>
  </system.webServer>
  <microsoft.web.services3>
    <policy fileName="wse3policyCache.config" />
    <diagnostics>
      <trace enabled="true" input="InputTrace.webinfo" output="OutputTrace.webinfo" />
    </diagnostics>
    <security>
      <timeToleranceInSeconds value="3600" />
      <securityTokenManager>
        <add type="Cito.Tester.Server.API.ContentModel.ServerSecurityUserNameTokenManager, Cito.Tester.Server.API.ContentModel" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0" localName="ServerSecurityUsernameToken" />
      </securityTokenManager>
    </security>
  </microsoft.web.services3>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\tmp\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <nlog>
    <targets>
      <target type="EventLog" name="eventlog" source="Questify_PublicationService" layout="${message}${newline}${exception:format=ToString}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="eventlog" />
    </rules>
  </nlog>
  <runtime>
    <!-- Always make sure that all versions of the dll's below map to the current version!!!
       These mappings are needed for OTD validation to determine if there are adaptive sections. Also see Questify.Builder.PluginsValidators.Pulication.OtdValidator. -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;bin\plugins" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.14.0.0" newVersion="6.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.14.0.0" newVersion="6.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Questify.Publication.PublishedMetadata" publicKeyToken="f866693305960f6d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false" />
  </system.net>
</configuration>