<policies xmlns="http://schemas.microsoft.com/wse/2005/06/policy">
    <extensions>
        <extension name="securityUsernameOverTransportSecurity" type="Cito.Tester.Server.API.ContentModel.SecurityUsernameOverTransportAssertion, Cito.Tester.Server.API.ContentModel" />
        <extension name="requireActionHeader" type="Microsoft.Web.Services3.Design.RequireActionHeaderAssertion, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </extensions>
    <policy name="serverAuthenticationSecurity">
        <securityUsernameOverTransportSecurity />
        <requireActionHeader />
    </policy>
</policies>