<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="itemPreviewHandlers" type="Questify.Builder.Configuration.ItemPreviewerConfiguration, Questify.Builder.Configuration" />
    <section name="exportHandlers" type="Questify.Builder.Configuration.PluginConfiguration, Questify.Builder.Configuration" />
    <section name="importHandlers" type="Questify.Builder.Configuration.PluginConfiguration, Questify.Builder.Configuration" />
    <section name="reportHandlers" type="Questify.Builder.Configuration.ReportConfiguration, Questify.Builder.Configuration" />
    <section name="startTabReportHandlers" type="Questify.Builder.Configuration.PluginConfiguration, Questify.Builder.Configuration" />
    <section name="cachedEntities" type="Questify.Builder.Configuration.CacheConfiguration, Questify.Builder.Configuration" />
    <section name="sqlServerCatalogNameOverwrites" type="System.Configuration.NameValueSectionHandler, System,Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Questify.Builder.Configuration.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="ttsSettings" type="System.Configuration.NameValueSectionHandler, System,Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="ttsPauseDurationSettings" type="System.Configuration.NameValueSectionHandler, System,Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    </extensions>
    <targets>
      <!--This creates a log per day. This can be changed to whatever nlog supports.-->
      <!--Log to a file-->
      <target name="file" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="${basedir}/${shortdate}.log" />
      <!--Log to event log-->
      <target name="eventlog" type="EventLog" source="QuestifyBuilder" layout="${message}${newline}${exception:format=ToString}" />
      <!--Log to the database (Created by Cito.Logging) -->
      <target name="q_async" xsi:type="AsyncWrapper" queueLimit="100000">
        <target xsi:type="Database" name="qlog_database" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=QLogging;Persist Security Info=True;Integrated Security=SSPI;packet size=4096" dbProvider="System.Data.SqlClient">
          <!-- SQL command to be executed for each entry -->
          <commandText>
            INSERT INTO [Logs] ([Date],[Thread],[Level],[Name],[Version],[Logger],[Message],[Exception],[StackTrace],[Identity],[Machine]) VALUES (@date,@thread,@level,@name,@version,@logger,@message,@exception,@stacktrace,@identity,@machine)
          </commandText>
          <!-- parameters for the command -->
          <parameter name="@date" layout="${date:s}" />
          <parameter name="@thread" layout="${threadid}" />
          <parameter name="@level" layout="${level}" />
          <parameter name="@name" layout="${appdomain:format={1\}" />
          <parameter name="@version" layout="${assembly-version}" />
          <parameter name="@logger" layout="${logger}" />
          <parameter name="@message" layout="${message}" />
          <parameter name="@exception" layout="${exception:format=ToString,StackTrace}" />
          <parameter name="@stacktrace" layout="${stacktrace:topFrames=5:skipFrames=0}" />
          <parameter name="@identity" layout="${windows-identity}" />
          <parameter name="@machine" layout="${machinename}" />
        </target>
      </target>
      <!--Log to Application Insights-->
      <target name="ai" type="ApplicationInsightsTarget" />
    </targets>
    <rules>
      <!-- If info: the time of database and service calls will be logged as well. -->
      <logger name="*" minlevel="Error" writeTo="file,eventlog,qlog_database" />
      <!-- choices: file, eventlog, qlog_database, ai (Application Insights) -->
    </rules>
  </nlog>
  <appSettings>
    <add key="Main.ConnectionString" value="data source=.;User ID=[YourUserNameHere];Password=[YourPasswordHere];persist security info=False;packet size=4096" />
    <add key="AuthenticationProvider" value="Questify.Builder.Security.QuestifyRemoteAuthenticationProvider" />
    <add key="AuthenticationDomain" value="citogroep.nl" />
    <add key="AlwaysRequestUserCredentials" value="True" />
    <add key="MaxRecordsToReturnFromWildcardSearch" value="50" />
    <add key="PublicationPollingInterval" value="2000" />
    <add key="ValidationPollingInterval" value="500" />
    <add key="DefaultLanguage" value="NL" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="QB_BackgroundColor" value="" />
    <add key="QB_TitlebarAddition" value="" />
    <add key="ReportExceptionsToServer" value="false" />
    <add key="UseItemId" value="true" />
    <add key="MathMlService" value="http://localhost/Questify.Builder.Services.Math/api/math/render" />
  </appSettings>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true" />
  </system.net>
  <exportHandlers>
    <handler type="Questify.Builder.Client.PackageExportHandler, Questify.Builder.Client" />
  </exportHandlers>
  <reportHandlers>
    <handler type="Questify.Builder.Plugins.Reports.Excel.ExcelReport, Questify.Builder.Plugins.Reports.Excel" />
    <handler type="Questify.Builder.Plugins.Reports.Excel.ExcelReportForTestItems, Questify.Builder.Plugins.Reports.Excel" />
    <handler type="Questify.Builder.Plugins.Reports.Excel.ExportGrid, Questify.Builder.Plugins.Reports.Excel" />
    <handler type="Questify.Builder.Plugins.Reports.Excel.CustomBankPropertyExcelReport, Questify.Builder.Plugins.Reports.Excel" />
    <handler type="Questify.Builder.Plugins.Reports.Excel.ReferencedMediaExcelExport, Questify.Builder.Plugins.Reports.Excel" />
    <handler type="Questify.Builder.Plugins.Reports.Excel.MediaReferencedByItemsAndTestsExcelReport, Questify.Builder.Plugins.Reports.Excel" />
    <handler type="Questify.Builder.Plugins.PaperBased.WordReport, Questify.Builder.Plugins.PaperBased" />
    <handler type="Questify.Builder.Plugins.Reports.Excel.ResourceReferencesReport, Questify.Builder.Plugins.Reports.Excel" />
  </reportHandlers>
  <itemPreviewHandlers>
    <!-- Not all item previewers take place on the server, therefor they still have to be in this config. If in the future all previews will take place on the server (depends on end of life QP), this can be moved to the service just like the publication. -->
    <handler type="Questify.Builder.Plugins.PaperBased.Word_ItemPreviewHandler, Questify.Builder.Plugins.PaperBased" />
  </itemPreviewHandlers>
  <importHandlers>
    <handler type="Questify.Builder.Client.PackageImportHandler, Questify.Builder.Client" />
    <handler type="Questify.Builder.Client.ExcelImportHandler, Questify.Builder.Client" />
  </importHandlers>
  <cachedEntities>
    <!-- 
                Memory Cache: http://msdn.microsoft.com/en-us/library/system.runtime.caching.memorycache(v=vs.110).aspx is used.
                Sliding means, that the cache period is renewed when a cached entity is retrieved from the cache.
         -->
    <!-- Bank is held in memory by llblgen, shouldn't be cached too long because the longer it's cached the more objects it should notify which makes it slow-->
    <cachedEntity type="BankEntity" timeInSeconds="10" sliding="false" />
    <!-- Bank Hierarchy is cached with serializable dictionary <of int, int> so we don't have to hold bankEntities, it can be cached for a longer period.-->
    <cachedEntity type="BankHierarchy" timeInSeconds="3600" sliding="true" />
    <!-- Used to cache GetResourceByName, only itl, ctrlt and media -->
    <cachedEntity type="ResourceEntity" timeInSeconds="10" sliding="true" />
    <!-- Used to cache GetResourceData, only plugin, itl, ctrlt and media < 50kb -->
    <cachedEntity type="ResourceDataEntity" timeInSeconds="10" sliding="true" maxSizeInKb="50" />
    <!-- Used to cache GetItemLayoutTemplate -->
    <cachedEntity type="ItemLayoutTemplateEntity" timeInSeconds="10" sliding="true" />
    <!-- Don't cache custom properties in the builder because the collection is modified in the editors what will cause problems -->
    <cachedEntity type="CustomPropertyEntityCollection" timeInSeconds="0" sliding="true" />
    <!-- Used to cache permissions: This service does not access the database but does loop through banks a few times. Caching will increase only a little bit of speed. -->
    <cachedEntity type="TestBuilderPermissionCache" timeInSeconds="3600" sliding="true" />
  </cachedEntities>
  <ttsSettings>
    <add key="CanSetTTSOptions" value="true" />
  </ttsSettings>
  <ttsPauseDurationSettings>
    <add key="200" value="Kort" />
    <add key="500" value="Gemiddeld" />
    <add key="800" value="Lang" />
  </ttsPauseDurationSettings>
  <configProtectedData>
    <providers>
      <add name="TripleDESProvider" type="Cito.Tester.Common.TripleDESProtectedConfigurationProvider, Cito.Tester.Common" />
    </providers>
  </configProtectedData>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="ClientTracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="ClientMessages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
    <switches>
      <add name="SqlServerDQE" value="0" />
      <add name="ORMGeneral" value="0" />
      <add name="ORMStateManagement" value="0" />
      <add name="ORMPersistenceExecution" value="0" />
    </switches>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQuestifyBuilderTasksService" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Streamed" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IValidationService" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IItemPreviewService" />
        <binding name="BasicHttpBinding_IPublicationService" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IProductService" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IQuestifyBuilderTasksService1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="BinaryCompressionBinding">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647" compressionFormat="GZip" />
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Questify.Builder.Services.TasksService/DataService/Services/AspectResourceDtoService.svc" behaviorConfiguration="AddIdentity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.IAspectResourceDtoRepository" name="BasicHttpBinding_IAspectResourceDtoRepository">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Questify.Builder.Services.TasksService/DataService/Services/BankDtoService.svc" behaviorConfiguration="AddIdentity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.IBankDtoRepository" name="BasicHttpBinding_IBankDtoRepository">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Questify.Builder.Services.TasksService/DataService/Services/ControlTemplateResourceDtoService.svc" behaviorConfiguration="AddIdentity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.IControlTemplateResourceDtoRepository" name="BasicHttpBinding_IControlTemplateResourceDtoRepository">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Questify.Builder.Services.TasksService/DataService/Services/CustomBankPropertyDtoService.svc" behaviorConfiguration="AddIdentity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.ICustomBankPropertyDtoRepository" name="BasicHttpBinding_ICustomBankPropertyDtoRepository">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Questify.Builder.Services.TasksService/DataService/Services/CustomBankPropertyResourceDtoService.svc" behaviorConfiguration="AddIdentity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.ICustomBankPropertyResourceDtoRepository" name="BasicHttpBinding_ICustomBankPropertyResourceDtoRepository">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Questify.Builder.Services.TasksService/DataService/Services/DataSourceResourceDtoService.svc" behaviorConfiguration="AddIdentity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.IDataSourceResourceDtoRepository" name="BasicHttpBinding_IDataSourceResourceDtoRepository">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Questify.Builder.Services.TasksService/DataService/Services/DataSourceTemplateResourceDtoService.svc" behaviorConfiguration="AddIdentity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.IDataSourceTemplateResourceDtoRepository" name="BasicHttpBinding_IDataSourceTemplateResourceDtoRepository">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Questify.Builder.Services.TasksService/DataService/Services/GenericResourceDtoService.svc" behaviorConfiguration="AddIdentity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.IGenericResourceDtoRepository" name="BasicHttpBinding_IGenericResourceDtoRepository">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Questify.Builder.Services.TasksService/DataService/Services/ItemResourceDtoService.svc" behaviorConfiguration="AddIdentity" binding="customBinding" bindingConfiguration="BinaryCompressionBinding" contract="Questify.Builder.Logic.Service.Interfaces.IItemResourceDtoRepository" name="BasicHttpBinding_IItemResourceDtoRepository">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Questify.Builder.Services.TasksService/DataService/Services/ItemTemplateResourceDtoService.svc" behaviorConfiguration="AddIdentity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.IItemlayoutTemplateResourceDtoRepository" name="BasicHttpBinding_IItemlayoutTemplateResourceDtoRepository">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Questify.Builder.Services.TasksService/DataService/Services/PluginResourceDtoService.svc" behaviorConfiguration="AddIdentity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.IPluginResourceDtoRepository" name="BasicHttpBinding_IPluginResourceDtoRepository">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Questify.Builder.Services.TasksService/DataService/Services/TestPackageResourceDtoService.svc" behaviorConfiguration="AddIdentity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.ITestPackageResourceDtoRepository" name="BasicHttpBinding_ITestPackageResourceDtoRepository">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Questify.Builder.Services.TasksService/DataService/Services/TestResourceDtoService.svc" behaviorConfiguration="AddIdentity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.ITestResourceDtoRepository" name="BasicHttpBinding_ITestResourceDtoRepository">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Questify.Builder.Services.TasksService/DataService/Services/TestTemplateResourceDtoService.svc" behaviorConfiguration="AddIdentity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.ITestTemplateResourceDtoRepository" name="BasicHttpBinding_ITestTemplateResourceDtoRepository">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Questify.Builder.Services.TasksService/DataService/Services/CacheService.svc" behaviorConfiguration="AddIdentity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="Questify.Builder.Logic.Service.Interfaces.ICacheService" name="BasicHttpBinding_ICacheServiceDto" />
      <endpoint address="http://localhost/Questify.Builder.Services.TasksService/QuestifyBuilderTasksService.svc" behaviorConfiguration="AddIdentity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestifyBuilderTasksService" contract="BuilderTasksService.IQuestifyBuilderTasksService" name="BasicHttpBinding_IQuestifyBuilderTasksService" />
      <endpoint address="http://localhost/Questify.Builder.Services.PublicationService/Publication/PublicationService.svc" behaviorConfiguration="AddIdentity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPublicationService" contract="PublicationService.IPublicationService" name="BasicHttpBinding_IPublicationService" />
      <endpoint address="http://localhost/Questify.Builder.Services.PublicationService/Validation/ValidationService.svc" behaviorConfiguration="AddIdentity" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IValidationService" contract="ValidationService.IValidationService" name="BasicHttpBinding_IValidationService" />
      <endpoint address="http://localhost/Questify.Builder.Services.PublicationService/ItemPreview/ItemPreviewService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IItemPreviewService" behaviorConfiguration="AddIdentity" contract="PreviewService.IItemPreviewService" name="BasicHttpBinding_IItemPreviewService" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AddIdentity">
          <AddIdentityExtension />
          <AddCultureExtension />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="AddIdentityExtension" type="Questify.Builder.Security.Authentication.Wcfbehavior.TransferIdentityBehavior, Questify.Builder.Security" />
        <add name="AddCultureExtension" type="Questify.Builder.Logic.Service.Localization.TransferCultureBehavior, Questify.Builder.Logic.Service" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
   <roleManager defaultProvider="ClientRoleProvider" enabled="true">
     <providers>
       <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
     </providers>
   </roleManager>
  </system.web>
  <runtime>
    <!-- Always make sure that all versions of the dll's below map to the current version!!!
       These mappings are needed for OTD validation to determine if there are adaptive sections. Also see Questify.Builder.PluginsValidators.Pulication.OtdValidator. -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;bin\plugins" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.14.0.0" newVersion="6.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.14.0.0" newVersion="6.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Questify.Publication.PublishedMetadata" publicKeyToken="f866693305960f6d" culture="neutral" />
       <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
     </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
       <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
