<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Questify.Builder.Configuration.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <!--<add name="FileLog"/>-->
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <!--<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>-->
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <Questify.Builder.Configuration.My.MySettings>
            <setting name="Language" serializeAs="String">
                <value/>
            </setting>
            <setting name="ImportLastFilename" serializeAs="String">
                <value/>
            </setting>
            <setting name="CesTestPreviewerLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="ItemEditorFullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ItemEditorSize" serializeAs="String">
                <value>1000, 710</value>
            </setting>
            <setting name="ItemEditorPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ItemEditorWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ItemEditorHeight" serializeAs="String">
                <value>710</value>
            </setting>
            <setting name="Base" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserBankSettings" serializeAs="String">
                <value/>
            </setting>
            <setting name="GridColumnOrderSettings" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserWizardSettings" serializeAs="String">
                <value/>
            </setting>
            <setting name="ItemEditorGroups" serializeAs="String">
                <value/>
            </setting>
            <setting name="Reports_WordReport" serializeAs="String">
                <value/>
            </setting>
            <setting name="Reports_ExcelReport" serializeAs="String">
                <value/>
            </setting>
            <setting name="Publication_PackageExportLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="Publication_TestServerTimeToLive" serializeAs="String">
                <value/>
            </setting>
            <setting name="Publication_TestServerPackageName" serializeAs="String">
                <value/>
            </setting>
            <setting name="Publication_WordExportLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="Publication_CesExportLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="Publication_CesitemPreviewResolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_itemPreviewResolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_itemPreviewTarget" serializeAs="String">
                <value/>
            </setting>
            <setting name="UI_itemPreviewTheme" serializeAs="String">
                <value/>
            </setting>
            <setting name="UI_itemPreviewThemeConfig" serializeAs="String">
                <value/>
            </setting>
            <setting name="TestBuilderClient_SelectedBankId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TestBuilderClient_ExportLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="TestBuilderClient_ImportLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="TestBuilderClient_ItemEditorWindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TestBuilderClient_PublishLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="TestBuilderClient_TestPackageEditorWindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TestBuilderClient_SelectedServer" serializeAs="String">
                <value/>
            </setting>
            <setting name="TestBuilderClient_SelectedTabKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="TestBuilderClient_TestEditorWindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsQATSaveAsVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsQATSaveAndCloseVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reports_MediaReferencesReport" serializeAs="String">
                <value/>
            </setting>
            <setting name="Reports_MediaReferencedByEntities" serializeAs="String">
                <value/>
            </setting>
        </Questify.Builder.Configuration.My.MySettings>
    </userSettings>
</configuration>
