<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cinch" version="2.0.70832" targetFramework="net452" />
  <package id="FakeItEasy" version="4.6.0" targetFramework="net452" />
  <package id="SD.LLBLGen.Pro.ORMSupportClasses" version="5.2.1" targetFramework="net452" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.3.0" targetFramework="net471" />
  <package id="System.IO" version="4.3.0" targetFramework="net471" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net471" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net471" />
</packages>