<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Main.ConnectionString" value="data source=.;initial catalog=QuestifyDatabase;User ID=[YourUserNameHere];Password=[YourPasswordHere];persist security info=False;packet size=4096"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
</configuration>
