<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cito.WebServices.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="publicationHandlers" type="Questify.Builder.Configuration.PublicationConfiguration, Questify.Builder.Configuration" />
    <section name="sqlServerCatalogNameOverwrites" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <appSettings>
    <add key="AuthenticationProvider" value="Questify.Builder.Security.TestBuilderDefaultAuthenticationProvider" />
    <add key="AuthenticationDomain" value="citogroep.nl" />
    <add key="SecurityWebServiceLocation" value="http://localhost:3011/TestBuilderWebService/SecurityService.asmx" />
    <add key="BankWebServiceLocation" value="http://localhost:3011/TestBuilderWebService/BankService.asmx" />
    <add key="ResourceWebServiceLocation" value="http://localhost:3011/TestBuilderWebService/ResourceService.asmx" />
    <add key="AuthorizationWebServiceLocation" value="http://localhost:3011/TestBuilderWebService/AuthorizationService.asmx" />
    <add key="UnitTestClient" value="CITO" />
    <add key="UnitTestUsername" value="testDefault" />
    <add key="UnitTestPassword" value="testen" />
    <add key="UnitTestDomainUsername" value="test1" />
    <add key="UnitTestDomainPassword" value="testen" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="MathMlService" value="http://localhost/Questify.Builder.Services.Math/api/math/render" />
  </appSettings>
  <microsoft.web.services3>
    <policy fileName="..\..\..\Unittests\Cito.TestBuilder.UnitTests\wse3policyCache.config" />
    <diagnostics>
      <trace enabled="false" input="InputTrace.webinfo" output="OutputTrace.webinfo" />
    </diagnostics>
  </microsoft.web.services3>
  <publicationHandlers>
    <handler type="TestBuilderClient.PackageOutputPublicationHandler, TestBuilderClient" />
    <handler type="TestBuilderClient.CitoTesterServerPublicationHandler, TestBuilderClient" />
  </publicationHandlers>
  <!-- LLBLGen SQL Server Catalog Override -->
  <sqlServerCatalogNameOverwrites>
    <add key="QuestifyBuilder" value="QuestifyBuilder" />
  </sqlServerCatalogNameOverwrites>
  <configProtectedData>
    <providers>
      <add name="TripleDESProvider" type="Cito.Tester.Common.QbProtectedConfigurationProvider, Cito.Tester.Common" />
    </providers>
  </configProtectedData>
  <system.diagnostics>
    <switches>
      <add name="SqlServerDQE" value="4" />
      <!--<add name="AccessDQE" value="4" />
      <add name="OracleDQE" value="4" />
      <add name="FirebirdDQE" value="4" />
      <add name="MySqlDQE" value="4" />
      <add name="DB2DQE" value="4" />
      <add name="PostgeSqlDQE" value="4" />-->
      <add name="ORMGeneral" value="4" />
      <add name="ORMStateManagement" value="4" />
      <add name="ORMPersistenceExecution" value="4" />
    </switches>
  </system.diagnostics>
  <applicationSettings>
    <Cito.WebServices.My.MySettings>
      <setting name="Cito_TestBuilder_Service_WebServices_BankWebService_BankService" serializeAs="String">
        <value>http://localhost:3011/TestBuilderWebService/BankService.asmx</value>
      </setting>
      <setting name="Cito_TestBuilder_Service_WebServices_ResourceWebService_ResourceService" serializeAs="String">
        <value>http://localhost:3011/TestBuilderWebService/ResourceService.asmx</value>
      </setting>
      <setting name="Cito_TestBuilder_Service_WebServices_AuthorizationService_AuthorizationService" serializeAs="String">
        <value>http://localhost:3011/TestBuilderWebService/AuthorizationService.asmx</value>
      </setting>
    </Cito.WebServices.My.MySettings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
